html, body {
	font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
	font-size: 32px;
    font-weight: 200;
    color: #666;
}

h4 {
    font-weight: bold;
    color: #333;
    font-size: 18px;
    margin: 20px 10px 10px 100px;
}

header h1 {
    line-height: 110px;
}

.page {
    width: 800px;
    margin: 20px auto;
    padding: 10px 20px;
    box-shadow: 0 1px 10px rgba(0,0,0,0.15);
    background-color: #fff;
}

.avatar-image {
    float: left;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.6);
}

article {
    padding: 15px;
    margin-left: 100px;
}

a {
    color: red;
    text-decoration: none;
}

#footer {
	position: relative;
	height: 50px;
	margin-top: 15px;
	background-color: #B9D7D9;
	clear:both;
}


#footer p {
	margin-top: 5px;
}

